.friendList {
  display: flex;
  flex-direction: column;
  list-style: none;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  width: 10%;
}

.item {
  display: flex;

  margin: 10px;
  padding: 10px;

  width: 175px;

  background-color: rgb(254, 255, 236);
  text-align: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 4px 3px rgba(39, 39, 39, 0.5);
}

.online {
  display: block;

  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
  width: 8px;
  height: 8px;
}

.offline {
  composes: online;
  background-color: red;
}

.avatar {
  width: 60px;
}

.name {
  color: rgb(56, 56, 56);
  font-size: 20px;
  font-weight: 900;
  margin-left: 15px;
}
