.friendList {
  display: flex;
  flex-direction: column;
  list-style: none;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  width: 10%;
}

.item {
  margin-top: 10px;
  outline: yellowgreen 1px solid;
}

.statusOnline {
  display: block;

  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
  width: 8px;
  height: 8px;
}

.offline {
  composes: statusOnline;
  background-color: red;
}

.avatar {
  width: 100px;
}

.name {
  color: rgb(137, 175, 0);
  font-size: 18;
  font-weight: 700;
}
