.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.statsList {
  padding-left: 0;
  display: flex;
}

.tittle {
  color: rgb(116, 3, 97);
  text-transform: uppercase;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  outline: 1px solid rgb(116, 3, 97);

  background-color: rgb(241, 163, 241);
}

.percentage {
  margin-top: 10px;
  color: rgb(116, 3, 97);
  font-size: 14px;
  font-weight: 700;
}

.label {
  color: rgb(116, 3, 97);
}
